html,body{height:100%;}

.popup-text-area{
    min-width:300px;
    min-height: 400px;
    width:calc(100% - 5px);
    font-family:Arial;
    font-size:100%;
    background:#ffc;
    padding:10px 5px 5px 5px;
    border:none;
}

.popup-content{
    min-width:310px;
    min-height:410px;
    font-family:Arial;
    font-size:100%;
    background:#ffc;
    
}

.popup-setting-main{
    display:absolute;
    top:0;
}

.popup-setting{
    display:block;
    margin:25px;
    width:60%;
    height:100px;
    background:white;
    float:right;
}

.popup-setting-bar{
    display:flex;
    align-items: center;
    background:#303030;
    filter:drop-shadow(0px 3px 3px gray);
}

.popup-setting-bar-input{
    width:100%;
    border-radius: 2px;
}

.popup-setting-bar-input2{
    width:100%;
    border-radius: 2px;
    border-color: transparent;
    background-color: whitesmoke;
    text-overflow: ellipsis;
    cursor:pointer;
}

.popup-setting-bar-home{
    display:block;
    font-size:25px;
    margin:4px;
    width:25px;
    height:25px;
    color:whitesmoke;
    cursor:pointer;
}

.popup-setting-bar-btn{
    display:block;
    font-size:25px;
    margin:4px;
    width:25px;
    height:25px;
    color:whitesmoke;
    cursor:pointer;
}

.popup-fontsize{
    display:block;
    margin:25px;
    width:60%;
    height:100px;
    background:white;
}

.popup-textcolor{
    display:block;
    margin:25px;
    width:60%;
    height:100px;
    background:white;
    float:right;

}

.popup-backgroundcolor{
    display:block;
    margin:25px;
    width:60%;
    height:100px;
    background:white;
    float:right;

}

.popup-textstyle{
    display:block;
    margin:25px;
    width:60%;
    height:100px;
    background:white;
    float:right;

}
.popup-export{
    display:block;
    margin:25px;
    width:60%;
    height:60px;
    background:white;
    float:right;

}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}